/*
 Theme Name:    SimplesVet Site Principal
 Description:   Theme made for Main site
 Author:        Wicttor Rios
 Author URI:    http://wicttor.com
 Template:      simplesvetmain
 Version:       1.0.0
*/


#topbar { background: #F3F6F8; color: #fff; }
#topbar p small { font-size: 70%; line-height: 70%; }
#topbar  .fa-social a:link,
#topbar  .fa-social a:visited { color: #546C77; }
#topbar  .fa-social a:hover,
#topbar  .fa-social a:active { color: #ddd; }
#topbar a:link, #topbar a:visited { color: #546C77; }
#topbar a:hover, #topbar a:active { color: #fff; }

.single .negative .sevendots { position: relative; width: 100%; float: right; right: 0; }
.single .negative .sevendots:after { width: 100%; content: ""; height: 1px; }
.single .negative .sevendots div { height: 7px; }
.single .negative .sevendots div:nth-child(1) { width: 7px; }
.single .negative .sevendots div:nth-child(2) { width: 10%; margin-left: 2%; }
.single .negative .sevendots div:nth-child(3) { width: 16%; margin-left: 2%; }
.single .negative .sevendots div:nth-child(4) { width: 6px; margin-left: 2%; }
.single .negative .sevendots div:nth-child(5) { width: 27%; margin-left: 2%; }
.single .negative .sevendots div:nth-child(6) { width: 16%; margin-left: 2%; }
.single .negative .sevendots div:nth-child(7) { width: 7px; margin-left: 2%; }
.single .negative .sevendots div:nth-child(8) { width: 10%; margin-left: 2%; }
.single #post .h2.title {
    font-size: 2rem;
    line-height: 2.7rem;
    position: relative;
}

.home .negative .sevendots { position: relative; width: 100%; float: right; right: 0; }
.home .negative .sevendots:after { width: 100%; content: ""; height: 1px; }
.home .negative .sevendots div { height: 7px; }
.home .negative .sevendots div:nth-child(1) { width: 7px; }
.home .negative .sevendots div:nth-child(2) { width: 10%; margin-left: 2%; }
.home .negative .sevendots div:nth-child(3) { width: 16%; margin-left: 2%; }
.home .negative .sevendots div:nth-child(4) { width: 6px; margin-left: 2%; }
.home .negative .sevendots div:nth-child(5) { width: 27%; margin-left: 2%; }
.home .negative .sevendots div:nth-child(6) { width: 16%; margin-left: 2%; }
.home .negative .sevendots div:nth-child(7) { width: 7px; margin-left: 2%; }
.home .negative .sevendots div:nth-child(8) { width: 10%; margin-left: 2%; }

#quemsomos p { font-size: 0.85rem; }
#quemsomos .h6 { font-size: 0.75rem; }
#quemsomos .h5 { font-size: 1.2rem; }


.absolutPos.float-right {
position: absolute;
top: 0;
right: 0;
z-index: 100;
}

.absolutPos.float-left {
position: absolute;
top: 0;
left: 0;
z-index: 100;
}


.imgmodulo { position: absolute; top: 0; right: 0; z-index: 1;}

#experimente { display: none; }

.page .mask { background: transparent}
.page article .post.row { background: #fff; }