/*
 Theme Name:    SimplesVet Blog
 Description:   Theme made for Blog
 Author:        Wicttor Rios
 Author URI:    http://wicttor.com
 Template:      simplesvetmain
 Version:       1.0.0
*/

#post .mask {
    height: fit-content !important;
    bottom: 0;
    position: absolute !important;
    width: 100%;
}

#topbar { background: #F3F6F8; color: #fff; }
#topbar p small { font-size: 70%; line-height: 70%; }

#topbar  .fa-social a:link,
#topbar  .fa-social a:visited { color: #546C77; }
#topbar  .fa-social a:hover,
#topbar  .fa-social a:active { color: #ddd; }

#topbar a:link, #topbar a:visited { color: #546C77; }
#topbar a:hover, #topbar a:active { color: #fff; }

.single .negative .sevendots { position: relative; width: 100%; float: right; right: 0; }
.single .negative .sevendots:after { width: 100%; content: ""; height: 1px; }
.single .negative .sevendots div { height: 7px; }
.single .negative .sevendots div:nth-child(1) { width: 7px; }
.single .negative .sevendots div:nth-child(2) { width: 10%; margin-left: 2%; }
.single .negative .sevendots div:nth-child(3) { width: 16%; margin-left: 2%; }
.single .negative .sevendots div:nth-child(4) { width: 6px; margin-left: 2%; }
.single .negative .sevendots div:nth-child(5) { width: 27%; margin-left: 2%; }
.single .negative .sevendots div:nth-child(6) { width: 16%; margin-left: 2%; }
.single .negative .sevendots div:nth-child(7) { width: 7px; margin-left: 2%; }
.single .negative .sevendots div:nth-child(8) { width: 10%; margin-left: 2%; }
.single #post .h2.title {
    font-size: 2rem;
    line-height: 2.7rem;
    position: relative;
}

.home .negative .sevendots { position: relative; width: 100%; float: right; right: 0; }
.home .negative .sevendots:after { width: 100%; content: ""; height: 1px; }
.home .negative .sevendots div { height: 7px; }
.home .negative .sevendots div:nth-child(1) { width: 7px; }
.home .negative .sevendots div:nth-child(2) { width: 10%; margin-left: 2%; }
.home .negative .sevendots div:nth-child(3) { width: 16%; margin-left: 2%; }
.home .negative .sevendots div:nth-child(4) { width: 6px; margin-left: 2%; }
.home .negative .sevendots div:nth-child(5) { width: 27%; margin-left: 2%; }
.home .negative .sevendots div:nth-child(6) { width: 16%; margin-left: 2%; }
.home .negative .sevendots div:nth-child(7) { width: 7px; margin-left: 2%; }
.home .negative .sevendots div:nth-child(8) { width: 10%; margin-left: 2%; }

.featOne .postTitle { font-size: 1.2rem; line-height: 1.5rem; }
.featOne .mask { background: rgba(0, 0, 0, 0.4)}
.featOne a:link, .featOne a:visited { color: #fff; }
.featOne a:hover, .featOne a:active { color: #ddd; }
.featOne .categoryLink { margin-top: -30px; }

.featTwo .postTitle { font-size: 0.85rem; line-height: 1.1rem; }

.categoryLink { float: left;  }
.categoryLink a { float: left; color: white; font-size: 0.65rem; padding: 0px 15px; border-radius: 50px;  }

#formNews { background: #E4EBEE; font-size: 0.9rem; line-height: 1.2rem; }
#formNews .btn, #formNews input { font-size: 0.9rem !important; line-height: 1.2rem; }

.btn-cat { cursor: pointer; }

#quemsomos p { font-size: 0.85rem; }
#quemsomos .h6 { font-size: 0.75rem; }
#quemsomos .h5 { font-size: 1.2rem; }

#experimente { display: none; }

@media (max-width:900px) {
    .single #post .h2.title {
        font-size: 1.3rem;
        line-height: 1.6rem;
        position: relative;
    }    
}