/*
 Theme Name:    SimplesVet Cultura
 Description:   Theme made for Cultura
 Author:        Wicttor Rios
 Author URI:    http://wicttor.com
 Template:      simplesvetmain
 Version:       1.0.0
*/

.page .withdots .sevendots { position: relative; width: 100%; float: right; right: 0; }
.page .withdots .sevendots:after { width: 100%; content: ""; height: 1px; }
.page .withdots .sevendots div { height: 7px; }
.page .withdots .sevendots div:nth-child(1) { width: 7px; }
.page .withdots .sevendots div:nth-child(2) { width: 10%; margin-left: 2%; }
.page .withdots .sevendots div:nth-child(3) { width: 16%; margin-left: 2%; }
.page .withdots .sevendots div:nth-child(4) { width: 6px; margin-left: 2%; }
.page .withdots .sevendots div:nth-child(5) { width: 27%; margin-left: 2%; }
.page .withdots .sevendots div:nth-child(6) { width: 16%; margin-left: 2%; }
.page .withdots .sevendots div:nth-child(7) { width: 7px; margin-left: 2%; }
.page .withdots .sevendots div:nth-child(8) { width: 10%; margin-left: 2%; }