/*
General CSS and In Dev CSS
*/
html { font-size: 20px; }
body { font-family: 'Exo', sans-serif; font-weight: 300; color: #546C77; background: #fff; line-height: 1.8; }
header { z-index: 100; }
img { max-width: 100%; height: auto; }
main { background: #fff; transition: ease-out 0.3s; }
a:link, a:visited { color: #3797DE; text-decoration: none; transition: ease-out 0.3s; }
a:active, a:hover { color: #546C77; text-decoration: none; transition: ease-out 0.3s; }
*:hover { text-decoration: none; transition: ease-out 0.3s; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-weight: 300; }
