.bg-sv-1 { background: #900; color: #fff; }
.bg-sv-2 { background: #900; color: #fff; }
.bg-sv-3 { background: #900; color: #fff; }
.bg-sv-4 { background: #900; color: #fff; }
.bg-sv-5 { background: #900; color: #fff; }
.bg-sv-6 { background: #900; color: #fff; }
.bg-sv-7 { background: #900; color: #fff; }
.bg-sv-8 { background: #900; color: #fff; }
.color-sv-1 { color: #090; }
.color-sv-2 { color: #090; }
.color-sv-3 { color: #090; }
.color-sv-4 { color: #090; }
.color-sv-5 { color: #090; }
.color-sv-6 { color: #090; }
.color-sv-7 { color: #090; }
.color-sv-8 { color: #090; }
.categoryLink.category-gestao a { background: #3797de; }
.categoryLink.category-marketing a { background: #8f43af; }
.categoryLink.category-vendas a { background: #e74f5b; }
.categoryLink.category-sucesso-do-cliente a { background: #eda831; }
.categoryLink.category-gestao a:hover { background: #2c8ac4; }
.categoryLink.category-marketing a:hover { background: #6e308e; }
.categoryLink.category-vendas a:hover { background: #bc4251; }
.categoryLink.category-sucesso-do-cliente a:hover { background: #ce8c2c; }
a:link, a:visited { color: #3797de; }
a:hover { color: #2c8ac4; }
a:active { color: #23618e; }
a:focus { color: #87c8f2; }
.blue.bg { background-color: #3797de; }
.turquoise.bg { background-color: #32c6d2; }
.yellow.bg { background-color: #eda831; }
.red.bg { background-color: #e74f5b; }
.purple.bg { background-color: #8f43af; }
.green.bg { background-color: #35aa47; }
.gray.bg { background-color: #8d9baa; }
.btn-cat.blue.bg:hover, button.blue.bg:hover, a.blue.bg:hover { background-color: #2c8ac4; }
.btn-cat.turquoise.bg:hover, button.turquoise.bg:hover, a.turquoise.bg:hover { background-color: #24a0a0; }
.btn-cat.yellow.bg:hover, button.yellow.bg:hover, a.yellow.bg:hover { background-color: #ce8c2c; }
.btn-cat.red.bg:hover, button.red.bg:hover, a.red.bg:hover { background-color: #bc4251; }
.btn-cat.purple.bg:hover, button.purple.bg:hover, a.purple.bg:hover { background-color: #6e308e; }
.btn-cat.green.bg:hover, button.green.bg:hover, a.green.bg:hover { background-color: #1d943b; }
.btn-cat.gray.bg:hover, button.gray.bg:hover, a.gray.bg:hover { background-color: #5d6c75; }
.blue.btn { border-color: #3797de !important; }
.turquoise.btn { border-color: #32c6d2 !important; }
.yellow.btn { border-color: #eda831 !important; }
.red.btn { border-color: #e74f5b !important; }
.purple.btn { border-color: #8f43af !important; }
.green.btn { border-color: #35aa47 !important; }
.gray.btn { border-color: #8d9baa !important; }
.blue.btn-outline { border-color: #3797de !important; color: #3797de; }
.turquoise.btn-outline { border-color: #32c6d2 !important; color: #32c6d2; }
.yellow.btn-outline { border-color: #eda831 !important; color: #eda831; }
.red.btn-outline { border-color: #e74f5b !important; color: #e74f5b; }
.purple.btn-outline { border-color: #8f43af !important; color: #8f43af; }
.green.btn-outline { border-color: #35aa47 !important; color: #35aa47; }
.gray.btn-outline { border-color: #8d9baa !important; color: #8d9baa; }
.blue.btn-outline:hover { background-color: #2c8ac4 !important; color: #fff; }
.turquoise.btn-outline:hover { background-color: #24a0a0 !important; color: #fff; }
.yellow.btn-outline:hover { background-color: #ce8c2c !important; color: #fff; }
.red.btn-outline:hover { background-color: #bc4251 !important; color: #fff; }
.purple.btn-outline:hover { background-color: #6e308e !important; color: #fff; }
.green.btn-outline:hover { background-color: #1d943b !important; color: #fff; }
.gray.btn-outline:hover { background-color: #5d6c75 !important; color: #fff; }
.blue.bg:focus { background-color: #87c8f2; }
.turquoise.bg:focus { background-color: #7fe4eb; }
.yellow.bg:focus { background-color: #fad47e; }
.red.bg:focus { background-color: #f29ba6; }
.purple.bg:focus { background-color: #cd91d8; }
.green.bg:focus { background-color: #67c96c; }
.gray.bg:focus { background-color: #aebbc6; }
.blue.color { color: #3797de; }
.turquoise.color { color: #32c6d2; }
.yellow.color { color: #eda831; }
.red.color { color: #e74f5b; }
.purple.color { color: #8f43af; }
.green.color { color: #35aa47; }
.gray.color { color: #8d9baa; }
.btn-cat.blue.color:hover, button.blue.color:hover, a.blue.color:hover { color: #2c8ac4; }
.btn-cat.turquoise.color:hover, button.turquoise.color:hover, a.turquoise.color:hover { color: #24a0a0; }
.btn-cat.yellow.color:hover, button.yellow.color:hover, a.yellow.color:hover { color: #ce8c2c; }
.btn-cat.red.color:hover, button.red.color:hover, a.red.color:hover { color: #bc4251; }
.btn-cat.purple.color:hover, button.purple.color:hover, a.purple.color:hover { color: #6e308e; }
.btn-cat.green.color:hover, button.green.color:hover, a.green.color:hover { color: #1d943b; }
.btn-cat.gray.color:hover, button.gray.color:hover, a.gray.color:hover { color: #5d6c75; }
.blue.color:focus { color: #87c8f2; }
.turquoise.color:focus { color: #7fe4eb; }
.yellow.color:focus { color: #fad47e; }
.red.color:focus { color: #f29ba6; }
.purple.color:focus { color: #cd91d8; }
.green.color:focus { color: #67c96c; }
.gray.color:focus { color: #aebbc6; }
.degrade-left { background: url('../img/degrade.png') no-repeat right top; height: 500px; }
.degrade-right { background: url('../img/degrade-r.png') no-repeat left top; height: 500px; }
.page-item.active .page-link { z-index: 1; color: #fff; background-color: #007bff; border-color: #007bff; }
.page-item.active .page-link { z-index: 1; color: #fff; background-color: #3797de; border-color: #3797de; }
.pagination a.page-link { color: #3797de; }
.btn.text-white.bg a { color: #fff; }

.blue.dark { background-color: #23618e !important; }
.turquoise.dark { background-color: #1c6f76 !important; }
.yellow.dark { background-color: #b9832d !important; }
.red.dark { background-color: #a43841 !important; }
.purple.dark { background-color: #512664 !important; }
.green.dark { background-color: #16742b !important; }
.gray.dark { background-color: #50585c !important; }