#experimente {  color: #fff; font-size: 1.1rem; line-height: 1.5rem; }
.btn-info { color: #fff; background-color: #44BCCB; border-color: #44BCCB }
.btn-info.disabled,
.btn-info:disabled { color: #fff; background-color: #44BCCB; border-color: #44BCCB }
.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,.show>.btn-info.dropdown-toggle { color: #fff; background-color: #117a8b; border-color: #10707f }


#experimente {
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .35), rgba(0, 0, 0, .35)), url(../img/bg-experimente.jpg);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .35), rgba(0, 0, 0, .35)), url(../img/bg-experimente.jpg);
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
}