.fivedots { position: absolute; min-width: 200px; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.fivedots div { float: left; display: block; height: 10px; width: 10px; border-radius: 6px; }
.fivedots div:nth-child(2) { margin-left: 2%; }
.fivedots div:nth-child(3) { margin-left: 2%; }
.fivedots div:nth-child(4) { margin-left: 2%; }
.fivedots div:nth-child(5) { margin-left: 2%; }
