footer { position: relative; background: #fff; font-size: 0.75rem; line-height: 1.2rem; }
footer .sevendots { position: relative; width: 100%; float: right; right: 0; }
footer .sevendots:after { width: 100%; content: ""; height: 1px; }
footer .sevendots div { height: 7px; }
footer .sevendots div:nth-child(1) { width: 7px; }
footer .sevendots div:nth-child(2) { width: 9%; margin-left: 2%; }
footer .sevendots div:nth-child(3) { width: 14%; margin-left: 2%; }
footer .sevendots div:nth-child(4) { width: 7px; margin-left: 2%; }
footer .sevendots div:nth-child(5) { width: 25%; margin-left: 2%; }
footer .sevendots div:nth-child(6) { width: 14%; margin-left: 2%; }
footer .sevendots div:nth-child(7) { width: 7px; margin-left: 2%; }
footer .sevendots div:nth-child(8) { width: 9%; margin-left: 2%; }
footer p.slogan {	/* font-size: 0.8rem; */

/* line-height: 1rem; */ }
footer .h3 {	font-size: 1.1rem; line-height: 1.5rem; margin-bottom: 20px; }
footer .menu li {	/* font-size: 0.75rem; */

/* line-height: 1rem; */ }
footer .menu a:link,
footer .menu a:visited { color: #3797DE; text-decoration: none;	/* font-size: .75rem; */	/* line-height: 1.2rem; */ }
footer .menu a:active,
footer .menu a:hover { color: #546C77; }
footer .fa-social a:link,
footer .fa-social a:visited { color: #7B9FAF; }
footer .fa-social a:hover,
footer .fa-social a:active { color: #546C77; }
#vetlovers { background: #EAEFF2; width: 100%; }
#vetlovers * {	font-size: 0.6rem !important; line-height: 0.9rem; }
@media (max-width:991px) {
	footer .container { max-width: 100vw; }
	footer p.slogan {		/* font-size: 0.5rem; */

	/* line-height: 1rem; */ }
}
