#shadowmenu { width: 100%; height: 100%; position: fixed; z-index: 0; transition: ease-out 0.3s; opacity: 0; }
.menucall { transition: ease-out 0.5s; cursor: pointer; opacity: 0.85; }
.menucall:hover { transition: ease-out 0.5s; cursor: pointer; opacity: 1; }
header .sevendots { position: relative; width: 100%; float: right; right: 0; }
header .sevendots:after { width: 100%; content: ""; height: 1px; }
header .sevendots div { height: 7px; }
header .sevendots div:nth-child(1) { width: 7px; }
header .sevendots div:nth-child(2) { width: 9%; margin-left: 1.5%; }
header .sevendots div:nth-child(3) { width: 17%; margin-left: 1.5%; }
header .sevendots div:nth-child(4) { width: 7px; margin-left: 1.5%; }
header .sevendots div:nth-child(5) { width: 27%; margin-left: 1.5%; }
header .sevendots div:nth-child(6) { width: 17%; margin-left: 1.5%; }
header .sevendots div:nth-child(7) { width: 7px; margin-left: 1.5%; }
header .sevendots div:nth-child(8) { width: 9%; margin-left: 1.5%; }
.sitename { font-size: 0.9rem; line-height: 0.9rem; }
nav { background: #fff; position: fixed; top: 0; right: -100vw; height: 100vh; width: 100vw; z-index: 500; font-size: 0.6rem; line-height: 0.7rem; }
nav ul li a {
    font-size: 0.75rem;
}
nav #menu-menu-nav li a {
    font-size: 0.85rem; line-height: 1.25rem;
}
nav a.btn {font-size: 0.6rem;}
nav .h4 { font-size: 1rem;}

nav .menucall:hover { transition: ease-out 0.5s; cursor: pointer; transform: rotate(180deg); }
nav i { font-weight: 100; }

nav .sevendots { position: relative; width: 100%; float: right; right: 0; }
nav .sevendots:after { width: 100%; content: ""; height: 1px; }
nav .sevendots div { height: 7px; }
nav .sevendots div:nth-child(1) { width: 7px; }
nav .sevendots div:nth-child(2) { width: 9%; margin-left: 1.5%; }
nav .sevendots div:nth-child(3) { width: 17%; margin-left: 1.5%; }
nav .sevendots div:nth-child(4) { width: 7px; margin-left: 1.5%; }
nav .sevendots div:nth-child(5) { width: 27%; margin-left: 1.5%; }
nav .sevendots div:nth-child(6) { width: 17%; margin-left: 1.5%; }
nav .sevendots div:nth-child(7) { width: 7px; margin-left: 1.5%; }
nav .sevendots div:nth-child(8) { width: 9%; margin-left: 1.5%; }

#topbar { background: #546C77; color: #fff; }
#topbar p small { font-size: 65%; line-height: 65%; }

#topbar  .fa-social a:link,
#topbar  .fa-social a:visited { color: #fff; }
#topbar  .fa-social a:hover,
#topbar  .fa-social a:active { color: #ddd; }

#topbar a:link, #topbar a:visited { color: #fff; }
#topbar a:hover { color: #fff; }

@media (min-width:991px) {
	nav { background: #fff; position: fixed; top: 0; right: -40vw; height: 100vh; width: 40vw; z-index: 99; }
	nav .menucall:hover { transition: ease-out 0.5s; cursor: pointer; transform: rotate(180deg); }
}
@media (max-width:991px) {
	.sitename { font-size: 0.6rem; }
	.menucall.fa-bars { font-size: 24px;}
}

.fixed-top { z-index: 98; }

.progress-container {
	width: 100%;
	height: 5px;
	background: transparent;
  }
  
  .progress-bar {
	height: 5px;
	background: #3797DE;
	width: 0%;
  }