@import "base.css";
@import "fonts.css";
@import "colors.css" screen;
@import "fiveDots.css" screen;
@import "sevenDots.css" screen;
@import "header.css";
@import "nav.css";
@import "single.css";
@import "page.css";
@import "footer.css";
@import "wpcf7-form.css";
@import "experimente.css";
@import "article.css";

.home .loop .post { height: 50vh; min-height: 400px; position: relative; }
.home .loop .post .mask { width: 100%; height: 100%; background: rgba(0, 0, 0, 0.3); transition: ease-out 0.3s; }
.home .loop .post .mask:hover { background: rgba(0, 0, 0, 0.5); transition: ease-out 0.3s; }
.home .loop .post .mask a:link { text-decoration: none; }
.home .loop .post:nth-child(1) { height: 100vh; }
.home .loop .post .postInfo { width: 100%; font-size: 1.2rem; color: #fff; }
.home .loop .post:nth-child(1) .postInfo { font-size: 1.55rem; }
.home .loop .post .postInfo small { font-size: 0.85rem; }
.home .loop .post:nth-child(1) .postInfo { position: absolute; bottom: 15%; text-align: center; width: 80%; left: 10%; margin: 0; padding: 0; }
.home .postInfo a:link, .home .postInfo a:visited { color: #fff; }
.post .title { font-size: 1rem; line-height: 1.35rem; }
@media (max-width:900px) {
    .home .loop .post:nth-child(1) .postInfo p:nth-child(1) { line-height: 1.5rem; font-size: 1.5rem; }
    .home .loop .post:nth-child(1) .postInfo p:nth-child(2) { line-height: 1.2rem; font-size: 1.5rem; }
    .home .loop .post:nth-child(1) .postInfo { bottom: 10%; }
    .home .loop .post .mask { background: rgba(0, 0, 0, 0.5); }
}
.rounded-extra { border-radius: 50px; }
div#wpadminbar { top: unset; bottom: 0; }
.carousel-item .imgSide { background-position: 50% 50%; background-size: cover; background-repeat: no-repeat; }
.carousel-item .imgSide { display: block; margin-top: auto; background-position: 0px 0px, 50% 50%; background-size: auto, cover; background-repeat: repeat, no-repeat; }