.page .mask { background: rgba(0, 0, 0, 0.3); }
.page article .post.row { height: 45vh; background: url('../img/bg-pages.jpg') no-repeat center center; background-size: cover; }

@media (max-width:900px) {
    .page article .post.row { height: 55vh;}
    .page article .post.row .h2 { font-size: 1.2rem;}
}

/* Page Builder Rules */
.divider .dark { font-size: 0.65rem; line-height: 1.3rem; }
.divider p { font-size: 1.6rem; }
.divider .tag { font-size: 0.65rem; line-height: 1.5rem;}

#workwithus p { font-size: 0.85rem; }
#workwithus .h6 { font-size: 0.75rem; }
#workwithus .h5 { font-size: 1.2rem; }

.col-4-content .tag { font-size: 0.85rem; height: 30px;}
.col-4-content .h5 { font-size: 1.2rem; }

.imagemfullcomtexto { background: rgba(255, 255, 255, 0.55); }