.sevendots { position: absolute; min-width: 200px; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.sevendots div { float: left; display: block; height: 10px; width: 10px; border-radius: 6px; }
.sevendots div:nth-child(2) { margin-left: 2%; }
.sevendots div:nth-child(3) { margin-left: 2%; }
.sevendots div:nth-child(4) { margin-left: 2%; }
.sevendots div:nth-child(5) { margin-left: 2%; }
.sevendots div:nth-child(6) { margin-left: 2%; }
.sevendots div:nth-child(7) { margin-left: 2%; }
.sevendots div:nth-child(8) { margin-left: 2%; }
