#post { height: 70vh; }
#post .h2.title { position: absolute; bottom: 0 !important; font-size: 2rem; line-height: 2.2rem; color: #fff; }
#post .mask { background: rgba(0, 0, 0, 0.3); height: 100%; }
.mask .negative {
    margin-top: -10px;
}

article .intro .sevendots { position: relative; width: 100%; float: right; right: 0; }
article .intro .sevendots:after { width: 100%; content: ""; height: 1px; }
article .intro .sevendots div { height: 7px; }
article .intro .sevendots div:nth-child(1) { width: 7px; }
article .intro .sevendots div:nth-child(2) { width: 10%; margin-left: 2%; }
article .intro .sevendots div:nth-child(3) { width: 16%; margin-left: 2%; }
article .intro .sevendots div:nth-child(4) { width: 6px; margin-left: 2%; }
article .intro .sevendots div:nth-child(5) { width: 27%; margin-left: 2%; }
article .intro .sevendots div:nth-child(6) { width: 16%; margin-left: 2%; }
article .intro .sevendots div:nth-child(7) { width: 7px; margin-left: 2%; }
article .intro .sevendots div:nth-child(8) { width: 10%; margin-left: 2%; }
article p { margin-bottom: 30px; font-weight: 200; }
article h3.intertitulo { margin-bottom: 30px; font-weight: 300; }



.paragraph_image p { margin-bottom: 0; }
aside p { font-size: 15px; line-height: 20px; margin-bottom: 20px; font-weight: 400 }
aside p span { font-weight: 200; }
aside a:link, aside a:visited { color: #546C77; }
aside a:hover, aside a:active { color: #3797DE; }
.paragrafoDestacado p { font-size: 1.4rem; line-height: 1.9rem; }
blockquote { margin-bottom: 0px; }
.prevPost, .nextPost { min-height: 40vh; background-size: cover !important; }
.paragraph_image_full { margin-bottom: 30px !important; }
.paragraph_image_full p { margin-bottom: 0; }
.lead { background: #E4EBEE; font-size: 0.9rem; line-height: 1.2rem; }
.lead p { font-weight: 400}
.lead .btn, .lead input { font-size: 0.9rem !important; line-height: 1.2rem; }

.page-id-139 .postsLoop .postInfo { min-height: 200px; }
.page-id-139 .postsLoop .postInfo .mask { height: 100%; }
.page-id-139 .postsLoop .postInfo .mask * { opacity: 0; transition: ease-out 0.3s; text-decoration: none; color: #fff; text-align: center !important; }
.page-id-139 .postsLoop .postInfo .mask:hover { background: rgba(0, 0, 0, 0.5); transition: ease-out 0.3s; }
.page-id-139 .postsLoop .postInfo .mask:hover * { opacity: 1; transition: ease-out 0.3s; text-decoration: none; color: #fff; }
.page-id-139 .postsLoop .postInfo .mask .link { text-decoration: none; color: #fff; width: 100%; }

#nextNprev .display-1 { font-size: 1.55rem; font-weight: 400 !important }
#nextNprev .prevPost, #nextNprev .nextPost { color: #fff; }
#nextNprev a:link, #nextNprev a:visited { color: #fff; text-decoration: none; }
#nextNprev .mask { background: rgba(0, 0, 0, 0.3); transition: ease-out 0.3s; }
#nextNprev .mask:hover { background: rgba(0, 0, 0, 0.5); transition: ease-out 0.3s; }

.bgParallax { position: relative; min-height: 50vh; background-position: 50% 0; }
#progress-cont { height: 50px; position: fixed; width: 100%; top: 0px; left: 0px; z-index: 100; }
#progress-bar { height: 100%; background-color: #27ACAF; }
#wpadminbar { z-index: 99 !important; }

.priceBox p { font-size: 0.8rem; margin-bottom: 0;  }
.priceBox .preco { font-size: 0.7rem; }
.priceBox .preco span { font-size: 1.6rem; line-height: 1.3rem; }

.featplus { font-size: 0.85rem; line-height: 1.3rem;}
.featplus p { margin-bottom: 10px; }
.featplus span { font-size: 0.6rem; line-height: 1rem; }
.featplus a:link { font-size: 0.75rem; }

#accordionFAQ { font-size: 0.85rem; line-height: 1.4rem;  }
#accordionFAQ * { border: none; background: transparent; padding: 0; }
#accordionFAQ p { margin-bottom: 0; padding: 15px 0; padding-left: 25px }
#accordionFAQ h5 { font-size: 0.85rem; line-height: 1.4rem; cursor: pointer; }
#accordionFAQ h5:before { content: "+"; float: left; margin-right: 15px;}

.modulo { font-size: 0.85rem;}
.modulo .sm { font-size: 0.75rem;}
.modulo .h3 { font-size: 1.6rem;}
.modulo a { font-size: 1.2rem; }

@media (max-width:900px) {
	.imgBG { min-height: 300px; margin: 0; }
	.bg-none { background: none !important; }
}
@media (max-width:900px) {
	.page-id-139 .postsLoop .postInfo .mask * { opacity: 1 !important; }
	.prevPost, .nextPost { min-height: 30vh; background-size: cover !important; }
	.prevPost *, .nextPost * { border-radius: 0 !important; }
	#post .h2.title { font-size: 1.2rem;     line-height: 1.6rem;}
}
